*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  @include font(14px, 20px);
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: $base-white;
  color: $base-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font(20px, 32px);
  }
}
