.button {
  @include font(16px, 24px);
  font-family: "Montserrat", "Arial", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: $base-primary;
  border-radius: 4px;
  color: $base-white;
  padding: 8px 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $base-grey;
    color: $base-white;
    pointer-events: none;
    cursor: default;
  }

  &--secondary {
    color: $base-primary;
    background-color: $base-white;

    &:disabled {
      background-color: $light-grey;
    }
  }

  &--with-icon {
    @include font(14px, 20px);
    display: flex;
    gap: 6px;

    &::before {
      content: "";
      width: 20px;
      height: 16px;
      background-image: url("../../icons/card-plus.svg");
    }
  }
}
