.button {
  @include font(16px, 24px);
  font-family: "Montserrat", "Arial", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: $base-primary;
  border-radius: 4px;
  color: $base-white;
  padding: 8px 20px;
  cursor: pointer;

  //   &--catalog {
  //     padding: 10px;

  //     @media (min-width: $tablet-width) {
  //       @include font(16px, 20px);
  //     }
  //   }

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  &--second {
    color: $base-primary;
    background-color: $base-white;

    &:disabled {
      background-color: $light-grey;
    }
  }
}
