.catalog {
  background-color: $lightest-grey;
}

.catalog__container {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__badge {
  order: -1;
  margin-bottom: 4px;
}

.catalog__title {
  margin: 0 0 20px;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.catalog__sorting {
  margin-bottom: 16px;

  @media (max-width: $mobile-width-only) {
    max-width: 280px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog__content-container {
  width: 100%;
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 318px 1012px;
    gap: 26px 30px;
    grid-template-rows: 32px auto;
    align-items: start;
  }
}

.catalog__filter {
  margin-bottom: 40px;

  @media (max-width: $mobile-width-only) {
    max-width: 280px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    grid-row: 1 / 4;
  }
}

.catalog__products {
  margin-bottom: 40px;

  @media (max-width: $mobile-width-only) {
    max-width: 280px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.catalog__pagination {
  @media (max-width: $mobile-width-only) {
    max-width: 280px;
  }
}
