
  .headline {
    @include font(36px, 48px);
    font-weight: 700;
    letter-spacing: 0.02;

    @media (min-width: $tablet-width) {
      @include font(56px, 80px);
      letter-spacing: 1px;
    }

    &--h2 {
      @include font(24px, 36px);
      letter-spacing: normal;

      @media (min-width: $tablet-width) {
        @include font(42px, 64px);
      }
    }

    &--h3 {
      @include font(18px, 32px);
      letter-spacing: normal;

      @media (min-width: $tablet-width) {
        @include font(24px, 36px);
      }
    }

    &--h4 {
      @include font(14px, 20px);
      color: $base-primary;
    }
  }
