.logo {


//   @media (max-width: $mobile-width-only) {
//     @include container;
//     display: grid;
//     grid-template-columns: 1fr auto 1fr;
//     align-items: center;
//   }

  @media (min-width: $tablet-width) {
    // display: inline;
//     align-items: center;
//     padding-top: 6px;
    // width: 82px;
    // height: 36px;
  }

//   @media (min-width: $desktop-width) {
//     width: 202px;
//     height: 60px;
//   }
}

.logo__icon {
  display: block;
  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}
