.logo__icon {
  display: block;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }

  &--footer {
    @media (min-width: $tablet-width) {
      width: 170px;
      height: 36px;
    }
  }
}
