.products__list {
  @include list-reset;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
