.slide-switch {
  position: relative;
}

.slide-switch__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 656px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: $base-primary;
    mask-repeat: no-repeat;
    mask-size: 11px 20px;
    mask-position: center;
    mask-image: url("../../icons/arrow.svg");
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &--prev {
    &::before {
      transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
      background-image: linear-gradient(90deg, $base-white 0%, $base-white 100%);
    }

    &:active {
      background-image: linear-gradient(90deg, $primary-opacity 0%, $base-primary 100%);
    }
  }

  &--next {
    left: auto;
    right: 0;

    &::before {
      transform: scale(-1, 1) translate(50%, -50%);
    }

    &:hover,
    &:focus {
      background-image: linear-gradient(270deg, $base-white 0%, $base-white 100%);
    }

    &:active {
      background-image: linear-gradient(270deg, $primary-opacity 0%, $base-primary 100%);
    }
  }

  &:disabled {
    cursor: default;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      background-image: none;
    }

    &::before {
      background-color: $base-grey;
    }
  }
}
